body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    max-height: 100%;
    background-image: url(../img/96735d1b2b7cb5551cc3faceee074127.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}
.header-menu{
    background: rgba(0, 0, 0, 0.5) ;
    display: flex;
    justify-content: space-between;
    height: 58px;
    align-items: center;
}
.section-header{
    display: flex;
    align-items: center;
}
.header-menu-svg{
    display: flex;
    margin-right: 27px;
}
.header-menu-svg::after{
    content: "";
    display: block;
    border-right: 1px solid rgba(255, 255, 255, 0.90);
    margin-left: 25px;
    height: 19px;
    margin-top: 4px;
}
.menu-item{
    padding-left: 27px;
}
.header-svg:hover path{
    fill: #01813F;
}
.page-title{
    padding-left: 79px;
    color: #FFF;
font-size: 22px;
font-style: normal;
font-weight: 700;
line-height: 22px;
}
.page-title:hover{
    color: #01813F
}
.header-text{
    color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px;
padding-right: 79px;
}
.link-header{
    color: #FFF;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px;
}
.link-header:hover{
    color: #01813F
}



.main-register{
    margin-top: 50px;
}

.conteiner{
    background-color: #FFF;
    height: 584px;
    width: 444px;
    margin-left: auto;
    margin-right: auto;
}
.text-sign-up{
    color: #434343;
    font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 20px;
margin: 0;
margin-left: 43px;
}
.section-text::before{
    content: "";
    background-color: #3CB878;
    width: 18px;
    height: 18px;
}
.text-log-in{
    margin: 0;
    color: #3CB878;
    font-size: 14px;
    font-style: normal;
font-weight: 400;
line-height: 14px;
margin-left: 216px;
}
.section-text{
    display: flex;
    align-items: center;
    padding-top: 31px;
    padding-right: 59px;
}
.speed-log-in{
    margin-top: 15px ;
    margin-left: 60px;
    display: flex;
}
.button-facebok{
    display: flex;
    align-items: center;
    background-color: #305DB8;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
    width: 160px;
    height: 48px;
    border: none;
    
    border-radius: 5px;
    cursor: pointer;
}
.svg-facebook{
    margin-right: 32px;
    margin-left: 11px;
}
.svg-google{
    margin-right: 38px;
    margin-left: 12px;
}
.button-facebok::after{
    content: "";
    border-right: 1px solid #0A162F;
    opacity: 0.1;
    height: 28px;
position: relative;
right: 89px;
}
.button-google{
    margin-left: 4px;
    display: flex;
    align-items: center;
    background-color: #DF4A32;
    color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px;
border: none;
width: 160px;
height: 48px;
border-radius: 5px;
cursor: pointer;
}
.button-google::after{
    content: "";
    border-right: 1px solid #2B0D09;
    opacity: 0.1;
    height: 28px;
    position: relative;
    right: 84px;
}
.button-facebok:hover{
    background-color: #022263;
}
.button-google:hover{
    background-color: #AB1F09;
}
.text-log-in:hover{
    text-decoration: underline;
    color: #01813F;
}
.form-or{
    text-align: center;
    color: #848484;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    margin-bottom: 0;
}
.form-or::after{
    position: relative;
    left: 61px;
    bottom: 6px;
    content: "";
    display: block;
    border-bottom: 1px solid #F2F2F2;
    width: 150px;
}
.form-or::before{
    position: relative;
    left: 232px;
    top:9px ;
    content: "";
    display: block;
border-bottom: 1px solid #F2F2F2;
width: 150px;
}
.form{
    margin-top: 12px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding-left: 60px;
padding-right: 60px;
gap: 15px;
}
.forms-register{
    width: 100%;
    height: 44px;
    border: 1px solid #F2F2F2;
    border-radius: 4px;
}
.forms-register:focus{
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    outline: none;
}
.link-conditions{
    color: #3CB878;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 14px;
}
.link-conditions:hover{
    text-decoration: underline;
    color: #01813F;
}
.check-agree{
    width: 100%;
border: none;
padding-left: 0;
padding-right: 70px;
}
.button-create{
    margin-top: 8px;
    color: #FFF;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 16px;
border-radius: 4px;
background: rgba(60, 184, 120, 0.80);
width: 324px;
height: 46px;
cursor: pointer;
}
.button-create:hover{
    background-color: #01813F;
}



























